<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Asignaciones de Exámenes</h2>
    <a href="{% url 'asignar_examen' %}">Asignar nuevo examen</a>
    <ul>
      {% for asignacion in asignaciones %}
        <li>
          {{ asignacion.alumno }} - {{ asignacion.examen }} ({{ asignacion.fecha_asignacion }})
          <a href="{% url 'editar_asignacion' asignacion.id %}">Editar</a>
          <a href="{% url 'eliminar_asignacion' asignacion.id %}">Eliminar</a>
        </li>
      {% empty %}
        <li>No hay asignaciones registradas.</li>
      {% endfor %}
    </ul>
    
</body>
</html>