<!DOCTYPE html>
<html>
<head>
    <title>Pagos</title>
</head>
<body>
    <h1>Listado de Pagos</h1>
    <a href="{% url 'crear_pago' %}">+ Nuevo Pago</a>
    <ul>
        {% for pago in pagos %}
            <li>
                {{ pago.alumno }} — {{ pago.monto }} — {{ pago.motivo }} — {{ pago.fecha_pago }}
                |
                <a href="{% url 'editar_pago' pago.pk %}">Editar</a>
                
            </li>
        {% empty %}
            <li>No hay pagos registrados.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'dashboard_dojo' %}">← Volver al Dashboard</a>
</body>
</html>
